*.o
*.so
*~
*.mk~
*.user
*.cpp.o
*.cpp.d
Makefile~
build
**/build
bin
*.npy
python/neuralnetmodelling/checkpoints/**
python/neuralnetmodelling/data_slices/**
python/neuralnetmodelling/*.tfrecord
python/neuralnetmodelling/*.csv
**.tfrecord*
python/neuralnetmodelling/weight_plots/*
